<table>
  <tr>
    <th>Foto</th>
    <th>Nombre</th>
    <th>Genero</th>
    <th>Correo</th>
    <th>Edad</th>
    <th>Nacimiento</th>

  </tr>
  <tr *ngFor="let usuario of usuarios" [appHighlightGender]="usuario.gender" >
    <td><img [src]="usuario.picture.thumbnail" alt="" appHoverZoom></td>
    <td>{{ usuario | nombre  }}</td>
    <td>{{ usuario | genero }}</td>
    <td>{{ usuario.email }}</td>
    <td>{{ usuario.dob.age }}</td>
    <td>{{ usuario.dob.date | date }}</td>
  </tr>
</table>

<div appHighlight>
  <p>tfdsgfdgfg</p>
</div>
